
<%	
	var ie = 75;
	var t = (ie - ia) * 12;
	var p = (t * e) * ((100)/(100 - ir));
	var n = (ia - id) * 12;
	var i = i / 100;
	var r = (p * i) / (Math.pow((1 + i), n) - 1);
%>
<h1>Entradas</h1>
<p>Renda esperada = <%= e %></p>
<p>Alíquota de IR = <%= ir %></p>
<p>Idade Atual = <%= id %></p>
<p>Taxa de Juros(I) = <%= i%></p>
<p>Idade Aposento = <%= ia %></p>

<br><br><br>

<h1>Cálculos</h1>
<p>	<%= t + " = (" + id + " - " + ia + ") * 12" %>
<p> <%= p + " = (" + t + " * " + e + ") * ((100)/(100 - " + ir + "))"%>
<p>	<%= n + " = (" + ia + " - " + id + ") * 12" %>
<p> <%= r + " = (" + p + " * " + i + ") / (Math.pow((1 + " + i + "), " + n + ") - 1)" %>

<br><br><br>

<h1>Saídas</h1>
<p>Expectativa de vida(IE) = <%= ie.toFixed(2) %></p>
<p>Duração de recebimento(T) = <%= t.toFixed(2) %></p>
<p>Principal(acumulo do capital)(P) = <%= p.toFixed(2) %></p>
<p>Número de Prestações(N) = <%= n.toFixed(2) %></p>
<p>Prestação a ser investida mensalmente(R) = <%= r.toFixed(2) %></p>