
<%	
	var ie = 75;
	var t = (ie - ia) * 12;
	var p = (t * e) * ((100)/(100 - ir));
	var n = (ia - id) * 12;
	var i = i / 100;
	var r = (p * i) / (Math.pow((1 + i), n) - 1);
%>

<br><br>
<!--
<h1>Saídas</h1>
<p>Duração de recebimento(T) = <%= t.toFixed(2) %></p>
<p>Principal(acumulo do capital)(P) = <%= p.toFixed(2) %></p>
<p>Número de Prestações(N) = <%= n.toFixed(2) %></p>
<p>Prestação a ser investida mensalmente(R) = <%= r.toFixed(2) %></p>
-->

<div class="table-responsive">
	<table class="table table-bordered" style="width: 600px;" align="center">
	  <thead>
	    <tr>
	      <th style="background-color:lightcyan;">Duracao</th>
	      <th style="background-color:lightcyan;">Acumulo</th>
	      <th style="background-color:lightcyan;">Prestaçoes</th>
	      <th style="background-color:lightcyan;">Mensal</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td style="background-color:lightcyan;"><%= t.toFixed(0) %> meses </td>
	      <td style="background-color:lightcyan;">R$<%= p.toFixed(2) %></td>
	      <td style="background-color:lightcyan;"><%= n.toFixed(0) %> </td>
	      <td style="background-color:lightcyan;">R$<%= r.toFixed(2) %></td>
	    </tr>
	  </tbody>
	</table>